<% layout('layouts/boilerplate') %>

<div class="container d-flex flex-column">
    <%- include('partials/intro') %>
    <div class="spacer" id="about"></div>
    <%- include('partials/about') %>
    <div class="spacer" id="portfolio"></div>
    <%- include('partials/portfolio') %>
    <div class="spacer" id="resume"></div>
    <%- include('partials/resume') %>
    <div class="spacer" id="contact"></div>
    <%- include('partials/contact') %>
</div>